.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.navbar{ 
	border-radius: 0px;
}
.navbar-right .btn{ 
	margin-right: 40px;
	border-radius: 25px;
	font-weight: bold;
}
body{
	background-image: url('bg-img/5.jpg');
	background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size:cover;
}

.home{
	margin:90px 30px 120px 30px;
	font-size: 36px;
	color: red;
}
/*--table--*/
.table{
	background-color: #171a5f;;
	margin-top: 80px;
	color: #1fa042;
	text-align: center;
	border-radius: 10px;
	opacity: .9;
	margin-bottom: 150px;
}
.table {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 3s
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
.table-hover{
	cursor: pointer;
}
.table h3{
	color: white;
	text-align: center;
}
thead,tfoot{
	font-size: 20px;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    text-align: center;
}
table tbody{
	font-size: 16px;
}
/*--table--*/

/*--JobExp--*/
.jobExp{
	margin: 90px 30px 120px 30px;
}
.pull-left{
	margin-right: 50px;
}
.pull-right{
	margin: 20px 50px 20px 20px;
}
.experience{ 
	background: #080807bd;
    font-family: Comic Sans MS;
    color: #0bb5a7e3;
    text-align: justify;
    font-size: 15px;
    border-radius: 10px;
    border-left: 3px solid #940b0b;
    border-bottom: 5px solid #0e0e0e;;
    border-right: 5px solid #0e0e0e;;
    
}
/* Add animation to "page content" */
.experience {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 3s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
/*--End JobExp--*/

/*--Portfolio--*/
.portFolio{
	background-color: red;
	margin: 90px 30px 120px 30px;
}
/*--End Portfolio--*/

/*--About page--*/
.about-me{
	background: red;
	margin: 90px 30px 120px 30px;
}
footer{
	background: black;
	width: 100%;
	min-height: 60px;
	position: fixed;
    bottom: 0;
}
.social-icon{
	margin-top: 14px;
	text-align: center;
}
.social-icon a{
	padding-top: 10px !important;
	padding-left: 10px;

}
